*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    &::after,&::before{
        @extend *
    }
}
$-bg-color:#2fbf77;
$-white:#fff;
$-black-light:#545454;
$-black-dark:#1e1c1c;
body{
    font-family: $fontFamily;
    font-size: $fontsize;
    background: $-bg-color;
    @include flexBox(center,center);
    width: 100%;
    height:100vh;
    position: relative;

    }

    .login{
        height:550px;
        width: 400px;
        background:$-black-dark;
        padding:30px;
        @include flexBox(center,center);
        flex-direction: column;
        box-shadow: 0 10px 20px 0 rgb(0,0,0,0.2),0 10px 20px 0 rgb(0,0,0,0.19);
        .image{
            height: 150px;
            width: 150px;
            color:$-white;
            @include flexBox(center,center);
            img{
                border-radius: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;

            }

        }
        .formbox{
            width:100%;
        @include flexBox(center,center);
            flex-direction: column;
            h2{
                font-size: 2em;
                color: $-white;
            }
            .inputbox{
                padding: 5px;
                margin: 5px 0;
                width: 100%;
                p{
                    color:$-white;
                    font-size: 20px;
                    cursor: pointer;
                }
                input{
                    padding: 15px;
                    background: $-black-light;
                    width: 100%;
                    border: none;
                    margin: 5px 0;
                    outline:none;
                    border-radius: 5px;
                    color:$-white;
                    &::placeholder{
                        color: $-white;

                    }
                   span{
                        color:red
                    }

                }
            }
            a{
                background-color: $-bg-color;
                color:$-white;
                padding: 10px 45px;
                border-radius: 5px;
                text-decoration: none;
                margin:10px 0;
                transition: 0.5s;
                &:hover{
                    letter-spacing: 2px;
                    transform: translateY(-5px)   
                    
                }

            }
            p{
                color: $-white;
                font-size: 20px;
                cursor: pointer;
            }
        }

    }
    .container{
        display: none;
    
    .signup{
        height:650px;
        width: 400px;
        @include flexBox(center,center);
        background:$-black-dark;
        padding:30px;
        flex-direction: column;
        box-shadow: 0 10px 20px 0 rgb(0,0,0,0.2),0 10px 20px 0 rgb(0,0,0,0.19);
        .image{
            height: 150px;
            width: 150px;
            color:$-white;
        @include flexBox(center,center);
            img{
                border-radius: 50%;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
        .formbox{
            width:100%;
        @include flexBox(center,center);
            flex-direction: column;
            h2{
                font-size: 2em;
                color: $-white;
            }
            .inputbox{
                padding: 5px;
                margin: 5px 0;
                width: 100%;
                p{
                    color:$-white;
                }
                input{
                    padding: 15px;
                    background: $-black-light;
                    width: 100%;
                    border: none;
                    margin: 5px 0;
                    outline:none;
                    border-radius: 5px;
                    color:$-white;
                    &::placeholder{
                        color: $-white;

                    }

                }
            }
            a{
                background-color: $-bg-color;
                color:$-white;
                padding: 10px 45px;
                border-radius: 5px;
                text-decoration: none;
                margin:10px 0;
                transition: 0.5s;
                &:hover{
                    letter-spacing: 2px;
                    transform: translateY(-5px)                }

            }
            p{
                color: $-white;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    }

    